{% extends "layout.html" %}
{% block content %}
<div class="about">
    <h1>Little about me</h1>

    <div class="media">
        <img class="mr-3, rounded" src="/static/photos/me.jpg" alt="Generic placeholder image">
        <div class="media-body" style="padding-left: 10px">

            <h5 class="mt-0"><b>Hey!</b></h5>
            My name is Radosław and I'm a 3rd year student of Electronics and Telecommunications
            at AGH - University of Science
            and Technology in Cracow. I have to say, I'm not a very electronics type of guy.
            I do much prefer telecommunications, more precisely networking and programming.
            In fact from last few months I've became very passionate about <mark>Python</mark> programming language.
            My goal is to focus on that great language and become an expert in it.

        </div>
    </div>
</div>
{% endblock %}
