{% extends "layout.html" %}
{% block content %}
<a class="map">
    <h1 style="text-align: center"><span class="badge badge-secondary">Foilum Web Map</span></h1>
    <a href="https://github.com/radekska/Projects/tree/master/Python/WebMap" class="badge badge-primary">Github
        repository<br></a>

    <div class="embed-responsive embed-responsive-16by9">
        <iframe sandbox="allow-popups allow-scripts allow-forms allow-same-origin"
                src="/projects/webmap/clean_map" style="height:500px;" scrolling="no"></iframe>

        </iframe>

    </div>
    </div>
    {% endblock %}
</a>